/* You can add gl* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}obal styles to this file, and also import other style files */
